In [1]:
import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt

import seaborn as sns

import scipy.stats
from scipy import stats
import statsmodels.api as sm
from statsmodels.stats.proportion import proportions_ztest 

from statsmodels.formula.api import ols
import statsmodels.formula.api as smf
from statsmodels.stats.anova import anova_lm

%matplotlib inline

In [5]:
df = pd.read_csv('data/MFG_TAT_NULL_COL_OUT_LOT.csv', engine='python', encoding='EUC-KR')
df.head()

,LOT,JUDGE,TAT_1BLACK_1PRINT,TAT_1BLACK_2RTD,TAT_2AG_1PRINT,TAT_2AG_2RTD,TAT_2AG_3EXPOSURE,TAT_3BUS_1DEVELOP,TAT_3BUS_2FIRE,TAT_4DIELEC_FIRE,TAT_5MGO,TAT_6PHOS_1R_1DISPENSER,TAT_6PHOS_1R_2DRY,TAT_6PHOS_2G_1DISPENSER,TAT_6PHOS_2G_2DRY,TAT_6PHOS_3B_1DISPENSER,TAT_6PHOS_4FIRE,TAT_8AGING
0,101,0.10,86.35,219.0,83.4,71.15,155.8,373.2,6969.75,6542.1,534.5,81.6,389.25,81.6,377.40,84.4,7190.60,9989.50
1,102,0.05,89.00,214.0,85.3,71.00,167.7,369.0,6939.30,6510.0,544.0,80.3,393.15,80.0,375.00,83.8,7131.75,9961.40
2,103,0.15,88.90,219.0,85.2,70.05,158.4,368.0,6958.20,6513.6,532.0,79.7,404.25,80.3,389.85,84.1,7230.95,10022.05
3,104,0.00,87.35,224.5,84.9,69.15,186.1,361.8,7002.75,6506.7,534.5,79.6,377.55,82.6,377.85,85.2,7278.95,9968.45
4,105,0.10,87.35,222.5,84.8,70.20,155.5,372.0,6944.70,6495.9,534.5,76.5,380.70,75.0,358.35,80.8,7051.50,9961.35

In [6]:
col = df.columns
col = col[11:]
col

Index(['TAT_6PHOS_1R_1DISPENSER', 'TAT_6PHOS_1R_2DRY',
       'TAT_6PHOS_2G_1DISPENSER', 'TAT_6PHOS_2G_2DRY',
       'TAT_6PHOS_3B_1DISPENSER', 'TAT_6PHOS_4FIRE', 'TAT_8AGING'],
      dtype='object')

In [7]:
lm = ols('TAT_1BLACK_1PRINT~C(JUDGE)', df).fit()
print(anova_lm(lm))

             df       sum_sq    mean_sq         F    PR(>F)
C(JUDGE)    6.0    79.474936  13.245823  0.407865  0.873261
Residual  193.0  6267.874751  32.476035       NaN       NaN

In [8]:
lm = ols('TAT_1BLACK_2RTD~C(JUDGE)', df).fit()
print(anova_lm(lm))

             df        sum_sq     mean_sq         F    PR(>F)
C(JUDGE)    6.0    737.386209  122.897702  0.593538  0.735282
Residual  193.0  39962.512541  207.059650       NaN       NaN

In [10]:
lm = ols('TAT_2AG_1PRINT~C(JUDGE)', df).fit()
print(anova_lm(lm))

             df       sum_sq    mean_sq         F    PR(>F)
C(JUDGE)    6.0    66.063375  11.010562  0.367299  0.899011
Residual  193.0  5785.576313  29.977079       NaN       NaN

In [9]:
lm = ols('TAT_2AG_2RTD~C(JUDGE)', df).fit()
print(anova_lm(lm))

             df       sum_sq    mean_sq         F   PR(>F)
C(JUDGE)    6.0    60.501899  10.083650  0.481253  0.82182
Residual  193.0  4043.908101  20.952892       NaN      NaN

In [11]:
lm = ols('TAT_2AG_3EXPOSURE~C(JUDGE)', df).fit()
print(anova_lm(lm))

             df        sum_sq     mean_sq         F    PR(>F)
C(JUDGE)    6.0    682.010084  113.668347  0.577634  0.747894
Residual  193.0  37979.064116  196.782716       NaN       NaN

In [12]:
lm = ols('TAT_3BUS_1DEVELOP~C(JUDGE)', df).fit()
print(anova_lm(lm))

             df         sum_sq     mean_sq         F    PR(>F)
C(JUDGE)    6.0    1875.197699  312.532950  0.529425  0.785529
Residual  193.0  113932.865501  590.325728       NaN       NaN

In [13]:
lm = ols('TAT_3BUS_2FIRE~C(JUDGE)', df).fit()
print(anova_lm(lm))

             df        sum_sq        mean_sq        F    PR(>F)
C(JUDGE)    6.0  6.244559e+05  104075.981006  0.50793  0.801918
Residual  193.0  3.954610e+07  204902.053305      NaN       NaN

In [14]:
lm = ols('TAT_4DIELEC_FIRE~C(JUDGE)', df).fit()
print(anova_lm(lm))

             df        sum_sq        mean_sq        F    PR(>F)
C(JUDGE)    6.0  3.996720e+05   66611.992366  0.37652  0.893354
Residual  193.0  3.414456e+07  176914.796842      NaN       NaN

In [15]:
lm = ols('TAT_5MGO~C(JUDGE)', df).fit()
print(anova_lm(lm))

             df         sum_sq      mean_sq         F   PR(>F)
C(JUDGE)    6.0    2867.692914   477.948819  0.399081  0.87902
Residual  193.0  231141.187086  1197.622731       NaN      NaN

In [16]:
lm = ols('TAT_6PHOS_1R_1DISPENSER~C(JUDGE)', df).fit()
print(anova_lm(lm))

             df       sum_sq    mean_sq         F    PR(>F)
C(JUDGE)    6.0    11.203449   1.867241  0.058125  0.999203
Residual  193.0  6200.028101  32.124498       NaN       NaN

In [17]:
lm = ols('TAT_6PHOS_1R_2DRY~C(JUDGE)', df).fit()
print(anova_lm(lm))

             df         sum_sq     mean_sq         F    PR(>F)
C(JUDGE)    6.0    1523.985697  253.997616  0.278061  0.946781
Residual  193.0  176297.972791  913.460999       NaN       NaN

In [18]:
lm = ols('TAT_6PHOS_2G_1DISPENSER~C(JUDGE)', df).fit()
print(anova_lm(lm))

             df       sum_sq    mean_sq         F    PR(>F)
C(JUDGE)    6.0    51.942943   8.657157  0.278155  0.946738
Residual  193.0  6006.832057  31.123482       NaN       NaN

In [19]:
lm = ols('TAT_6PHOS_2G_2DRY~C(JUDGE)', df).fit()
print(anova_lm(lm))

             df         sum_sq     mean_sq        F    PR(>F)
C(JUDGE)    6.0    2275.849458  379.308243  0.60887  0.723059
Residual  193.0  120233.334492  622.970645      NaN       NaN

In [20]:
lm = ols('TAT_6PHOS_3B_1DISPENSER~C(JUDGE)', df).fit()
print(anova_lm(lm))

             df       sum_sq    mean_sq         F    PR(>F)
C(JUDGE)    6.0    31.499598   5.249933  0.159194  0.986989
Residual  193.0  6364.803952  32.978259       NaN       NaN

In [21]:
lm = ols('TAT_6PHOS_4FIRE~C(JUDGE)', df).fit()
print(anova_lm(lm))

             df        sum_sq        mean_sq         F    PR(>F)
C(JUDGE)    6.0  8.124509e+05  135408.476256  0.626552  0.708907
Residual  193.0  4.171058e+07  216116.975516       NaN       NaN

In [22]:
lm = ols('TAT_8AGING~C(JUDGE)', df).fit()
print(anova_lm(lm))

             df        sum_sq        mean_sq         F    PR(>F)
C(JUDGE)    6.0  1.149700e+06  191616.662524  0.465697  0.833164
Residual  193.0  7.941224e+07  411462.369107       NaN       NaN

TAT_1BLACK_1PRINT  
TAT_1BLACK_2RTD   
TAT_2AG_2RTD  
TAT_3BUS_1DEVELOP  
TAT_4DIELEC_FIRE  
TAT_6PHOS_1R_1DISPENSER  
TAT_6PHOS_2G_2DRY